# main
fastapi==0.136.1
# pip install "fastapi[standard]"

pymongo==4.17.0
sse-starlette==3.4.2

pydantic==2.13.4

# all
anaconda-anon-usage @ file:///home/task_178056140078668/croot/anaconda-anon-usage_1780561464840/work
anaconda-auth==0.15.2
anaconda-cli-base @ file:///C:/Users/task_178213802797462/croot/anaconda-cli-base_1782138659756/work
annotated-doc==0.0.5
annotated-types==0.8.0
anyio==4.14.2
archspec @ file:///C:/Users/task_178170345897244/croot/archspec_1781703573694/work
boltons==26.1.0
brotlicffi==1.2.0.2
build @ file:///C:/Users/task_GdkUwA4KR5m8U_0/croot/python-build_1784730400814/work
certifi @ file:///C:/Users/task_B-yggVMNRRKAU_0/croot/certifi_1785412608275/work/certifi
cffi==2.1.1
charset-normalizer==3.5.1
click==8.4.2
colorama @ file:///C:/Users/dev-admin/buildout/croot/colorama_1759952627215/work
conda @ file:///C:/Users/task_178706917088268/croot/conda_1787069254419/work/conda-src
conda-anaconda-telemetry @ file:///croot/conda-anaconda-telemetry_1755883788794/work
conda-anaconda-tos @ file:///C:/Users/task_177023072835597/croot/conda-anaconda-tos_1770231140546/work
conda-content-trust @ file:///C:/Users/task_177755429136070/croot/conda-content-trust_1777554410072/work
conda-libmamba-solver @ file:///home/task_Cr-3rYb_Svu0h_0/croot/conda-libmamba-solver_1784135307254/work/src
conda-lockfiles @ file:///C:/Users/task_VyaS9WTQTKeKf_0/croot/conda-lockfiles_1783438365295/work
conda-package-handling @ file:///C:/Users/task_178173126633816/croot/conda-package-handling_1781731340816/work
conda-pypi @ file:///C:/Users/task_JyLnwsa0T-WHV_0/croot/conda-pypi_1783082509161/work
conda-rattler-solver @ file:///C:/Users/task_178241389726437/croot/conda-rattler-solver_1782414030598/work
conda-self @ file:///C:/Users/task_Zea_w1-hQnuqM_0/croot/conda-self_1784729032409/work
conda_index @ file:///C:/Users/task_178223993634208/croot/conda-index_1782240018244/work
conda_package_streaming @ file:///C:/Users/task_178173069572296/croot/conda-package-streaming_1781731265133/work
cryptography==50.0.0
distro @ file:///C:/Users/dev-admin/buildout/croot/distro_1759969922852/work
dnspython @ file:///C:/miniconda3/conda-bld/dnspython_1763718331683/work
email-validator @ file:///C:/Users/dev-admin/buildout/croot/email-validator-meta_1761985189358/work
fastapi==0.141.1
fastapi-cli==0.0.32
fastar==0.12.0
filelock==3.32.4
frozendict @ file:///C:/Users/task_edBHaR4aRXe3w_0/croot/frozendict_1782910232199/work
h11 @ file:///C:/miniconda3/conda-bld/h11_1761931280691/work
httpcore @ file:///C:/Users/dev-admin/buildout/croot/httpcore_1761939678908/work
httptools @ file:///C:/Users/task_Korp3nV-S52CR_0/croot/httptools_1785915572948/work
httpx @ file:///C:/Users/dev-admin/buildout/croot/httpx_1761941099328/work
idna==3.19
installer @ file:///C:/Users/task_CACnFARkSIqf1_0/croot/python-installer_1783936212349/work
jaraco.classes @ file:///C:/Users/dev-admin/buildout/croot/jaraco.classes_1759962014039/work
jaraco.context==6.1.2
jaraco.functools==4.6.0
Jinja2 @ file:///C:/Users/dev-admin/buildout/croot/jinja2_1761938590194/work
keyring==25.7.0
libmambapy @ file:///C:/Users/task_177988102037434/croot/mamba-split_1779881335700/work/libmambapy
markdown-it-py==4.2.0
MarkupSafe @ file:///C:/Users/task_178239079824739/croot/markupsafe_1782390881383/work
mdurl @ file:///C:/Users/dev-admin/buildout/croot/mdurl_1759959136798/work
menuinst @ file:///C:/Users/task_HQR1aJQjSa6eq_0/croot/menuinst_1784297485076/work
more-itertools==11.1.0
msgpack @ file:///C:/Users/task_178239936413991/croot/msgpack-python_1782399509409/work
packaging==26.3
pkce @ file:///C:/Users/dev-admin/buildout/croot/pkce_1759972130085/work
platformdirs==4.11.4
pluggy @ file:///C:/Users/task_177697289814982/croot/pluggy_1776973009887/work
py-rattler @ file:///C:/Users/task_178127381029167/croot/py-rattler-split_1781273960610/work/py-rattler/target/wheels/py_rattler-0.25.0-cp38-abi3-win_amd64.whl#sha256=60db3639db97bc54d5767fd15c934772684ac0ef0d2364c9802a446ccfef43c2
pycosat @ file:///C:/Users/dev-admin/buildout/croot/pycosat_1760009338349/work
pycparser @ file:///C:/Users/task_177495971781166/croot/pycparser_1774959830167/work
pydantic @ file:///C:/Users/task_177868317994814/croot/pydantic_1778683902736/work
pydantic-extra-types==2.11.1
pydantic-settings==2.15.0
pydantic_core==2.46.4
Pygments==2.21.0
PyJWT @ file:///C:/Users/task_178093399830609/croot/pyjwt_1780934104922/work
pymongo @ file:///C:/Users/task_177874563612638/croot/pymongo_1778745770003/work
pyproject_hooks @ file:///C:/miniconda3/conda-bld/pyproject_hooks_1761732876631/work
PySocks @ file:///C:/miniconda3/conda-bld/pysocks_1761753029698/work
python-dotenv==1.2.3
python-multipart @ file:///C:/Users/task_178239944795287/croot/python-multipart_1782399532475/work
pywin32-ctypes @ file:///C:/Users/task_176829653363561/croot/pywin32-ctypes_1768296654730/work
PyYAML @ file:///C:/miniconda3/conda-bld/pyyaml_1763465514484/work
readchar @ file:///C:/Users/task_JVd9ZUc4TIqQc_1/croot/readchar_1783506248065/work
requests @ file:///C:/Users/task_178034872438702/croot/requests_1780348788133/work
rich @ file:///C:/Users/task_177886070702558/croot/rich_1778860815454/work
rich-toolkit==0.20.3
ruamel.yaml @ file:///C:/miniconda3/conda-bld/ruamel.yaml_1762535970940/work
ruamel.yaml.clib==0.2.15
semver @ file:///C:/miniconda3/conda-bld/semver_1761903242473/work
setuptools==84.0.0
shellingham @ file:///C:/miniconda3/conda-bld/shellingham_1761912225149/work
sse-starlette==3.4.8
starlette==1.6.0
tomli==2.4.1
tomli_w @ file:///croot/tomli-w_1738351312774/work
tomlkit @ file:///C:/Users/task_aoE62VfSRayCS_0/croot/tomlkit_1784720806197/work
tqdm @ file:///C:/Users/task_178696928308483/croot/tqdm_1786969371587/work
truststore @ file:///C:/Users/task_177859955216926/croot/truststore_1778600110184/work
typer==0.27.1
typing-inspection==0.4.4
typing_extensions @ file:///C:/Users/task_NKia6fvQRj--m_0/croot/typing_extensions_1784101066632/work
unearth==0.18.3
urllib3 @ file:///C:/Users/task_177853593283653/croot/urllib3_1778536216915/work
uvicorn @ file:///C:/Users/task_178714237799331/croot/uvicorn-split_1787142478965/work
watchfiles @ file:///C:/Users/task_178004064074936/croot/watchfiles_1780040740165/work
websockets==17.0.1
wheel==0.48.0
win_inet_pton @ file:///C:/miniconda3/conda-bld/win_inet_pton_1761746275387/work
zstandard @ file:///C:/Users/task_177696032962006/croot/zstandard_1776960575129/work
